* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    background-color: #18181d;
}

/* NAV STYLE */
nav {
    width: 100%;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.logo {
    background-image: url(../asset/Logo.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    margin : 50px 0px 0px 20px
}

nav ul {
    padding: 50px;
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    padding: 14px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.profil {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
}

.profil img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.profil i {
    margin : 15px 10px 10px 15px;
    color: white;
}

/* NAV STYLE END */

/* Hero Section Style */

.hero-section {
    background-image:
    linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.8) 70%
      ), url(../asset/hero.png); 
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.fitur-herosection {
    margin-top: auto;
    margin-bottom: 70px;
    margin-left: 30px;
    color: white;
}

.fitur-herosection h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.fitur-herosection p {
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.action-herosection {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mulai {
    padding: 12px 24px;
    background-color: #0F1E93;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

.selengkapnya {
    background-color: #3A3541DE;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 16px;
}

.selengkapnya i {
    width: 20px;
    height: 20px;
}

.usia {
    padding: 12px;
    border-radius: 50%;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.volume {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    margin-left: auto;
    margin-right: 30px;
}

.volume i {
    color: white;
}

/* Hero Section Style End */

/* Sectiion crousel */

.tonton h1 {
    color: white;
    margin: 30px 0px 20px 20px;
    font-size: 24px;
    font-weight: 600;
}

.crousel {
    width: 100%;
    height: auto;    
    position: relative;
    align-items: center;
    margin-bottom: 50px;
}

.crousel-track {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.before,
.after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.before {
    left: 10px;
}

.after {
    right: 10px;
}


.card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.card1 {
    background-image: url(../asset/crousel1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 150px;
    border-radius: 10px;
}

.card2 {
    background-image: url(../asset/crousel2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 150px;
    border-radius: 10px;
}

.card3 {
    background-image: url(../asset/crousel3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 150px;
    border-radius: 10px;
}

.card4 {
    background-image: url(../asset/crousel4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 150px;
    border-radius: 10px;
}

.title {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        transparent
    );
    color: white;
}


/* Section crousel end */

/* Sectiion crousel-tranding */

.tranding h1 {
    color: white;
    margin: 30px 0px 20px 20px;
    font-size: 24px;
    font-weight: 600;
}

.crousel-tranding {
    width: 100%;
    height: auto;
    position: relative;
    align-items: center;
    margin-bottom: 50px;
}

.crousel-track-tranding {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.before-tranding,
.after-tranding {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.before-tranding {
    left: 10px;
}

.after-tranding {
    right: 10px;
}


.card-tranding {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.card1-tranding {
    background-image: url(../asset/tranding1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card2-tranding {
    background-image: url(../asset/tranding2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card3-tranding {
    background-image: url(../asset/tranding3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card4-tranding {
    background-image: url(../asset/tranding4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card5-tranding {
    background-image: url(../asset/tranding5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}


.title-tranding {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        transparent
    );
    color: white;
}


/* Section crousel-tranding end */

/* Sectiion crousel-rilis */

.rilis h1 {
    color: white;
    margin: 30px 0px 20px 20px;
    font-size: 24px;
    font-weight: 600;
}

.crousel-rilis {
    width: 100%;
    height: auto;
    position: relative;
    align-items: center;
    margin-bottom: 50px;
}

.crousel-track-rilis {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.before-rilis,
.after-rilis {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.before-rilis {
    left: 10px;
}

.after-rilis {
    right: 10px;
}


.card-rilis {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.card1-rilis {
    background-image: url(../asset/rilis1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card2-rilis {
    background-image: url(../asset/rilis2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card3-rilis {
    background-image: url(../asset/rilis3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card4-rilis {
    background-image: url(../asset/rilis4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card5-rilis {
    background-image: url(../asset/rilis5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}


.title-rilis {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        transparent
    );
    color: white;
}


/* Section crousel-Rilis end */

/* footer */

.footer {
  border-top: 1px solid #2e2e2e;
  background: #18181d;
  color: white;
  padding: 30px 40px;
}

.footer-container {
  display: flex;
  gap: 80px;
}

.footer-brand img {
  width: 120px;
  margin-bottom: 10px;
}

.footer-brand p {
  font-size: 12px;
  color: #9ca3af;
}

.footer-content {
  display: flex;
  gap: 80px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.arrow {
  display: none;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  font-size: 12px;
  color: #cbd5e1;
  margin-bottom: 8px;
}

.bantuan ul li {
  margin-bottom: 8px;
}
/* Footer end */


@media (max-width: 576px) {

/* NAV STYLE */

.logo {
    background-image: url(../asset/movie-open.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin : 5px 0px 0px 10px
}

nav {
    width: 100%;
}

nav ul {
    padding: 16px;
    gap: 10px;
}

nav ul li a {
    padding: 0px 8px 0px 0px;
    font-size: 12px;
}

.profil img {
    
    width: 25px;
    height: 25px;
}

.profil i {
    margin : 13px 10px 10px 13px;
    color: white;
}

/* NAV STYLE END */

/* Hero Section Style */
.hero-section {
    background-image:
    linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.8) 70%
      ), url(../asset/hero.png); 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fitur-herosection {
    margin-bottom: 50px;
    margin-left: 20px;
}

.fitur-herosection h1 {
    font-size: 28px;
    font-weight: 600;
}

.fitur-herosection p {
    width: 80%;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.action-herosection {
    gap: 10px;
}

.mulai {
    height: 40px;
    font-size: 12px;
}

.selengkapnya {
    border-radius: 20px;
    height: 40px;
    padding: 10px 20px;
}

.selengkapnya i {
    width: 15px;
    height: 15px;
}

.usia {
    height: 40px;
    font-size: 12px;
}

.volume {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.volume i {
    color: white;
}

/* Hero Section Style End */

/* Sectiion crousel */

.tonton h1 {
    font-size: 20px;
}

.crousel-track {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.crousel-track .card:first-child{
    display: block;
}

.before {
    display: none;
}

.after {
    display: none;
}


.card {
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.card1 {
    background-image: url(../asset/crousel1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-radius: 10px;
}

.card2 {
    display: none;
}

.card3 {
    display: none;
}

.card4 {
    display: none;
}

/* Section crousel end */

/* Sectiion crousel-tranding */

.tranding h1 {
    font-size: 16px;
}

.crousel-track-tranding {
    width: 95%;
}

.card1-tranding {
    background-image: url(../asset/tranding1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    border-radius: 10px;
}

.card2-tranding {
    background-image: url(../asset/tranding2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card3-tranding {
    background-image: url(../asset/tranding3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card4-tranding {
   display: none;
}

.card5-tranding {
    display: none;
}

.title-tranding {
    font-size: 12px;
}

/* Section crousel-tranding end */
/* Sectiion crousel-rilis */

.rilis h1 {
    font-size: 16px;
}

.crousel-track-rilis {
    width: 95%;
}

.card1-rilis {
    background-image: url(../asset/rilis1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    border-radius: 10px;
}

.card2-rilis {
    background-image: url(../asset/rilis2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card3-rilis {
    background-image: url(../asset/rilis3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card4-rilis {
   display: none;
}

.card5-rilis {
    display: none;
}

.title-rilis {
    font-size: 12px;
}

/* Section crousel-rilis end */
/* footer */

.footer {
    padding: 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 10px;
  }

  .footer-grid,
  .footer-section ul {
    display: none;
  }

  .footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  .arrow {
    display: inline;
    font-size: 18px;
    color: #9ca3af;
  }

}

@media (min-width: 577px) and (max-width: 768px) {

/* NAV STYLE */

nav {
    width: 100%;
}

.logo {
    background-image: url(../asset/Logo.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    margin : 50px 0px 0px 20px
}

nav ul {
    padding: 16px;
    gap: 10px;
}

nav ul li a {
    padding: 0px 8px 0px 0px;
    font-size: 12px;
}


.profil img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.profil i {
    margin : 13px 10px 10px 13px;
    color: white;
}

/* NAV STYLE END */

/* Hero Section Style */

.hero-section {
    background-image:
    linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.8) 70%
      ), url(../asset/hero.png); 
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fitur-herosection {
    margin-bottom: 70px;
    margin-left: 20px;
}

.fitur-herosection h1 {
    font-size: 28px;
    font-weight: 600;
}

.fitur-herosection p {
    width: 80%;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.action-herosection {
    gap: 10px;
}

.mulai {
    height: 40px;
    font-size: 12px;
}

.selengkapnya {
    height: 40px;
    font-size: 12px;
}

.usia {
    height: 40px;
    font-size: 12px;
}

.volume {
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.volume i {
    color: white;
}

/* Hero Section Style End */

/* Sectiion crousel */

.tonton h1 {
    font-size: 16px;
}
.card3 {
display: none;
}

.card4 {
    display: none;
}

.title {
    font-size: 12px;
}

/* Section crousel end */

/* Sectiion crousel-tranding */

.tranding h1 {
    font-size: 16px;
}

.card1-tranding {
    background-position: center;
}

.card2-tranding {
    background-position: center;
}

.card3-tranding {
    background-position: center;
}

.card4-tranding {
   display: none;
}

.card5-tranding {
    display: none;
}


.title-tranding {
    font-size: 14px;
}

/* Section crousel-tranding end */
/* Sectiion crousel-rilis */

.rilis h1 {
    font-size: 16px;
}

.card1-rilis {
    background-position: center;
}

.card2-rilis {
    background-position: center;
}

.card3-rilis {
    background-position: center;
}

.card4-rilis {
   display: none;
}

.card5-rilis {
    display: none;
}


.title-rilis {
    font-size: 14px;
}

/* Section crousel-rilis end */

/* Footer  */

.footer {
    padding: 25px;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-content {
    flex-direction: row;
    gap: 40px;
  }

  .footer-grid {
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }

  .footer-title {
    font-size: 13px;
  }

  .footer-section li {
    font-size: 11px;
  }

/* footer end */


}

@media (min-width: 769px) and (max-width: 992px) {
    /* Sectiion crousel */

.tonton h1 {
    font-size: 16px;
}

.card4 {
    display: none;
}

.title {
    font-size: 12px;
}

/* Section crousel end */

/* Sectiion crousel-tranding */

.tranding h1 {
    font-size: 16px;
}

.card1-tranding {
    background-position: center;
}

.card2-tranding {
    background-position: center;
}

.card3-tranding {
    background-position: center;
}
.card4-tranding {
   background-position: center;
}

.card5-tranding {
    display: none;
}


.title-tranding {
    font-size: 14px;
}

/* Section crousel-tranding end */
/* Sectiion crousel-rilis */

.rilis h1 {
    font-size: 16px;
}

.card1-rilis {
    background-position: center;
}

.card2-rilis {
    background-position: center;
}

.card3-rilis {
    background-position: center;
}
.card4-rilis {
   background-position: center;
}

.card5-rilis {
    display: none;
}


.title-rilis {
    font-size: 14px;
}

/* Section crousel-rilis end */
/* footer */
.footer {
    padding: 30px;
  }

  .footer-container {
    gap: 50px;
  }

  .footer-content {
    gap: 50px;
  }

  .footer-title {
    font-size: 13px;
  }

  .footer-section li {
    font-size: 11px;
  }

  .footer-grid {
    grid-template-columns: repeat(3, auto);
    gap: 30px;
  }

  /* footer end */
}
