* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  background-image: url(../asset/Register-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  border-radius: 20px;
  width: 400px;
  height: 550px;
  color: white;
  background-color: #181a1cd6;
}

.register-box-desc {
  padding: 20px;
  text-align: center;
}

.judul {
  font-weight: bold;
  font-size: 2rem;
}

.logo-register {
  width: 25px;
  height: 25px;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-size: 1.5em;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

label {
  padding-bottom: 10px;
  font-size: 0.7rem;
}

input {
  border: 1px solid white;
  padding: 10px;
  height: 35px;
  border-radius: 20px;
  background: none;
  color: white;
}


.punya {
    text-align: justify;
  font-size: 12px;
  padding-top: 16px;
}

.punya p {
  color: #c1c2c4;
}

a {
  text-decoration: none;
  color: white;
}

.daftar-btn {
  margin-top: 30px;
}

.daftar-btn p {
  font-size: 0.8rem;
}

.btn-daftar-1 {
  width: 100%;
  height: 35px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #e7e3fc3b;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-daftar-google {
  margin-top: 10px;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  border: 1px solid white;
  gap: 10px;
}

.img-btn-google {
  width: 15px;
  height: auto;
}

/* responsive */
@media (max-width: 576px) {
  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .register-box {
    width: 85%;
    height: 500px;
    color: white;
    background-color: #181a1cd6;
  }

  .judul {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .logo-register {
    width: 20px;
    height: 20px;
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1em;
  }

  label {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  form {
    margin-top: 10px;
  }

  input {
    height: 35px;
    border-radius: 15px;
  }

  .register-box-desc {
    padding: 10px 20px 10px 20px;
  }

  .punya {
    font-size: 0.6rem;
  }

  .daftar-btn {
    margin-top: 1.3rem;
  }

  .daftar-btn p {
    font-size: 0.7rem;
  }

  .btn-daftar-1 {
    height: 35px;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .btn-daftar-google {
    height: 35px;
    border-radius: 15px;
  }

  .btn-daftar-google p {
    font-size: 0.8rem;
  }

  .img-btn-google {
    width: 15px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .register-box {
    width: 400px;
    height: 500px;
    color: white;
    background-color: #181a1cd6;
  }

  .judul {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .logo-register {
    width: 20px;
    height: 20px;
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1em;
  }

  label {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  form {
    margin-top: 10px;
  }

  input {
    height: 35px;
    border-radius: 15px;
  }

  .register-box-desc {
    padding: 10px 20px 10px 20px;
  }

  .punya {
    font-size: 0.8
    rem;
  }

  .daftar-btn {
    margin-top: 1.3rem;
  }

  .daftar-btn p {
    font-size: 0.7rem;
  }

  .btn-daftar-1 {
    height: 35px;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .btn-daftar-google {
    height: 35px;
    border-radius: 15px;
  }

  .btn-daftar-google p {
    font-size: 0.8rem;
  }

  .img-btn-google {
    width: 15px;
  }
}
 