* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  background-image: url(../asset/Login-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  border-radius: 20px;
  width: 400px;
  height: 550px;
  color: white;
  background-color: #181a1cd6;
}

.judul {
  font-weight: bold;
  font-size: 2rem;
}

.logo-login {
  width: 30px;
  height: 30px;
}

h3 {
  margin-top: 1.3em;
  margin-bottom: 0.4em;
  font-size: 1.4em;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

label {
  padding-bottom: 10px;
  font-size: 0.8rem;
}

input {
  border: 1px solid white;
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  background: none;
  color: white;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* ruang untuk icon */
}

.password-wrapper i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
}


.login-box-desc {
  padding: 40px;
  text-align: center;
}

.daftar {
  font-size: 12px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.daftar p {
  color: #c1c2c4;
}

a {
  text-decoration: none;
  color: white;
}

.masuk-btn {
  margin-top: 30px;
}

.btn-masuk-1 {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #e7e3fc3b;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-masuk-google {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  border: 1px solid white;
  gap: 10px;
}

.img-btn-google {
  width: 20px;
  height: auto;
}

/* responsive */
@media (max-width: 576px) {
  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .login-box {
    width: 85%;
    height: 500px;
    color: white;
    background-color: #181a1cd6;
  }

  .judul {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .logo-login {
    width: 25px;
    height: 25px;
  }

  h3 {
    margin-top: 1.2em;
    margin-bottom: 0.4em;
    font-size: 1.3em;
  }

  label {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  input {
    height: 35px;
    border-radius: 15px;
  }

  .login-box-desc {
    padding: 30px;
  }

  .daftar {
    font-size: 0.6rem;
  }

  .masuk-btn {
    margin-top: 1.3rem;
  }

  .masuk-btn p {
    font-size: 0.7rem;
  }

  .btn-masuk-1 {
    height: 35px;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .btn-masuk-google {
    height: 35px;
    border-radius: 15px;
  }

  .btn-masuk-google p {
    font-size: 0.8rem;
  }

  .img-btn-google {
    width: 15px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .login-box {
    width: 400px;
    height: 500px;
    color: white;
    background-color: #181a1cd6;
  }

  .judul {
    font-weight: bold;
    font-size: 2rem;
  }

  .logo-login {
    width: 30px;
    height: 30px;
  }

  form {
    margin-top: 25px;
  }

  h3 {
    margin-top: 1.2em;
    margin-bottom: 0.3em;
    font-size: 1.6em;
  }

  label {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  input {
    height: 40px;
    border-radius: 15px;
  }

  .login-box-desc {
    padding: 30px;
  }

  .daftar {
    font-size: 0.8rem;
  }

  .masuk-btn {
    margin-top: 1.3rem;
  }

  .masuk-btn p {
    font-size: 0.7rem;
  }

  .btn-masuk-1 {
    height: 35px;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .btn-masuk-google {
    height: 35px;
    border-radius: 15px;
  }

  .btn-masuk-google p {
    font-size: 0.8rem;
  }

  .img-btn-google {
    width: 15px;
  }
}
