* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    background-image: url(./asset/Login-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    border-radius: 20px;
    width: 400px;
    height: 550px;
    color: white;
    background-color: #181A1CD6;
}

.judul {
    font-weight: bold;
    font-size: 2rem;
}

.logo-login {
    width: 30px;
    height: 30px;
}

h3 {
    margin-top: 1.3em;
    margin-bottom: 0.2em;
    font-size: 1.4em;
}


form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

label {
    padding-bottom: 10px;
    font-size: 0.8rem;
}


input {
    border: 1px solid white;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    background: none;
    color: white;
}

.login-box-desc {
    padding: 40px;
    text-align: center;
}

.daftar {
    font-size: 12px;
    padding-top : 16px;
    display: flex;
    justify-content: space-between;
}

.daftar p {
    color: #c1c2c4;
}

a {
    text-decoration: none;
    color: white;
}

.masuk-btn {
    margin-top: 30px;
}

.btn-masuk p {
    font-size : 8px;
}

.btn-masuk-1 {
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #E7E3FC3B;
    color: white;
    cursor: pointer;
    margin-bottom : 10px;
}

.btn-masuk-google {
    margin-top: 10px;
    padding-top :10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    border: 1px solid white;
    gap: 10px;
}

.img-btn-google {
    width: 20px;
    height: auto;
}